apiVersion: v1
kind: ConfigMap
metadata:
    name: ingress-nginx
    namespace: ingress-nginx
data:
    ingress-nginx-values: |
        commonLabels: {}
        controller:
          # 1. Allow legacy Ingresses (Fixes the ignore issue)
          watchIngressWithoutClass: true
          
          affinity:
            podAntiAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
              - labelSelector:
                  matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                    - ingress-nginx
                  - key: app.kubernetes.io/instance
                    operator: In
                    values:
                    - ingress-nginx
                  - key: app.kubernetes.io/component
                    operator: In
                    values:
                    - controller
                topologyKey: topology.kubernetes.io/zone
          allowSnippetAnnotations: true
          extraArgs:
            update-status-on-shutdown: "false"
          image:
            tag: v1.11.5
            
          # 2. Match the class name Tutor uses ("nginx") instead of "ingress-nginx"
          ingressClass: ingress-nginx
          ingressClassByName: true
          
          ingressClassResource:
            controllerValue: k8s.io/ingress-nginx
            # 3. Make this the default controller for the cluster
            default: true
            enabled: true
            # Keep the resource name standard, or change to "nginx" if you prefer consistency
            name: ingress-nginx 
            
          replicaCount: 1
          service:
            annotations:
              service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: "600"
              service.beta.kubernetes.io/aws-load-balancer-attributes: load_balancing.cross_zone.enabled=true
              service.beta.kubernetes.io/aws-load-balancer-name: alnafi-test-eks-01-public-lb
              service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: instance
              service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
              service.beta.kubernetes.io/aws-load-balancer-type: external
              service.beta.kubernetes.io/load-balancer-source-ranges: 0.0.0.0/0
            externalTrafficPolicy: Cluster
          fullnameOverride: ingress-nginx
          namespaceOverride: ingress-nginx
