apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
    - namespace.yml
    - deployments.yml
    - services.yml
    - volumes.yml
    - jobs.yml
    - secrets.yml
    - ingress.yaml

patches:
    - target:
          kind: Ingress
          name: lms-ingress
      patch: |-
          - op: add
            path: /metadata/annotations/cert-manager.io~1cluster-issuer
            value: "letsencrypt-prod"
          - op: add
            path: /metadata/annotations/kubernetes.io~1ingress.class
            value: "nginx"
          - op: add
            path: /metadata/annotations/nginx.ingress.kubernetes.io~1ssl-redirect
            value: "true"
