apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
    name: lms-ingress
    namespace: openedx
    annotations:
        # TLS / SSL (Cert-Manager)
        cert-manager.io/cluster-issuer: "letsencrypt-prod"
        nginx.ingress.kubernetes.io/ssl-redirect: "true"
        nginx.ingress.kubernetes.io/proxy-body-size: "250m"
        nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
        nginx.ingress.kubernetes.io/proxy-send-timeout: "300"
        nginx.ingress.kubernetes.io/proxy-connect-timeout: "60"
        nginx.ingress.kubernetes.io/upstream-vhost: "$host"

spec:
    ingressClassName: ingress-nginx
    tls:
        - hosts:
              - openedx.uzair.copebit-training.net
              - studio.openedx.uzair.copebit-training.net
              - apps.openedx.uzair.copebit-training.net
          secretName: openedx-tls-secret

    rules:
        # 1. LMS Routing
        - host: openedx.uzair.copebit-training.net
          http:
              paths:
                  - path: /
                    pathType: Prefix
                    backend:
                        service:
                            name: lms
                            port:
                                number: 8000

        # 2. CMS (Studio) Routing
        - host: studio.openedx.uzair.copebit-training.net
          http:
              paths:
                  - path: /
                    pathType: Prefix
                    backend:
                        service:
                            name: cms
                            port:
                                number: 8000

        # 3. MFE (Apps) Routing
        - host: apps.openedx.uzair.copebit-training.net
          http:
              paths:
                  - path: /
                    pathType: Prefix
                    backend:
                        service:
                            name: mfe
                            port:
                                number: 8002
