apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
    - ../../base
    - secrets.yaml
    - hpa.yaml
    - ingress.yaml

namespace: openedx

patches:
    # 1. Patch LMS: Add Env and Swap Volume
    - target:
          kind: Deployment
          name: lms
      patch: |-
          - op: add
            path: /spec/template/spec/containers/0/envFrom
            value: [{secretRef: {name: openedx-settings}}]
          - op: replace
            path: /spec/template/spec/volumes/0
            value: {name: config, secret: {secretName: openedx-settings}}

    # 2. Patch CMS: Add Env and Swap Volume
    - target:
          kind: Deployment
          name: cms
      patch: |-
          - op: add
            path: /spec/template/spec/containers/0/envFrom
            value: [{secretRef: {name: openedx-settings}}]
          - op: replace
            path: /spec/template/spec/volumes/0
            value: {name: config, secret: {secretName: openedx-settings}}

    # 3. Patch Workers: Add Env only (Individually targeted for safety)
    - target:
          kind: Deployment
          name: lms-worker
      patch: |-
          - op: add
            path: /spec/template/spec/containers/0/envFrom
            value: [{secretRef: {name: openedx-settings}}]
    - target:
          kind: Deployment
          name: cms-worker
      patch: |-
          - op: add
            path: /spec/template/spec/containers/0/envFrom
            value: [{secretRef: {name: openedx-settings}}]
