apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
    - ../../base
    - secrets.yaml
    - hpa.yaml
    - ingress.yaml

patches:
    # Apply JSON & Env injection only to LMS
    - path: lms-patch.yaml
      target:
          kind: Deployment
          name: lms
    # Apply JSON & Env injection only to CMS
    - path: cms-patch.yaml
      target:
          kind: Deployment
          name: cms
    # Apply ONLY Env injection to Workers (No JSON files needed here)
    - path: worker-patch.yaml
      target:
          kind: Deployment
          name: .*-worker # Regex matches lms-worker and cms-worker
