apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
    - ../../base
    - secrets.yaml
    - hpa.yaml
    - ingress.yaml
patches:
    - path: volume-patch.yaml
      target:
          kind: Deployment
